___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 2 ) * (5 * 5)

100

Variable Assignment

In [8]:
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

String

In [12]:
'Single Quotes'

'Single Quotes'

In [13]:
"Single Quotes"

'Single Quotes'

In [14]:
"wrap lot's of quotes"

"wrap lot's of quotes"

Printing

In [17]:
x = 'hello'

In [18]:
x

'hello'

In [19]:
print(x)

hello

In [20]:
num = 12
name = 'Sam'

In [24]:
print('My number is :{one}, and name is : {two} '.format(one=num,two=name))

My number is :12, and name is : Sam

In [23]:
print('My number is :{}, and name is :{}'.format(num,name))

My number is :12, and name is :Sam

Lists

In [25]:
[1,2,3]

[1, 2, 3]

In [26]:
['hi',1,[2,3]]

['hi', 1, [2, 3]]

In [27]:
my_list = ['a','b','c']

In [28]:
my_list.append('d')

In [29]:
my_list

['a', 'b', 'c', 'd']

In [30]:
my_list[0]

'a'

In [31]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[0] = 'ABC'

In [35]:
my_list

['ABC', 'b', 'c', 'd']

In [36]:
my_list = ['a','b','c',[4,5,[6,7]]]

In [39]:
my_list[3][2][0]

6

Dictionaries

In [40]:
d = {"key1":"Item1","Key2":"Item2"}

In [41]:
d

{'Key2': 'Item2', 'key1': 'Item1'}

In [43]:
d["key1"]

'Item1'

Boolean

In [45]:
True

True

In [46]:
False

False

In [47]:
True and False

False

In [48]:
True or False

True

Tuples

In [49]:
t = (1,2,3)

In [50]:
t[0]

1

In [51]:
t[0] = 8

TypeError: 'tuple' object does not support item assignment

Sets

In [52]:
{1,2,3}

{1, 2, 3}

In [53]:
{1,1,1,2,2,2,3,3,4,4}

{1, 2, 3, 4}

Comparision Operators

In [55]:
1 < 2

True

In [57]:
'hi' == 'bye'

False

Logical Operator

In [58]:
(1 < 2) and (2 < 3)

True

if,elif, else Statements

In [59]:
if 1< 2:
    print('Yes')

Yes

In [60]:
if 2 < 1 :
    print('Yes')
else:
    print('No')

No

In [61]:
if 1 == 2 :
    print('1 = 2')
elif 3 == 3 :
    print('3 == 3')

3 == 3

For Loops

In [62]:
seq = [1,2,3,4,5]

In [63]:
for item in seq:
    print(item)

1
2
3
4
5

In [64]:
for item in seq:
    print('Yes')

Yes
Yes
Yes
Yes
Yes

While Loop

In [66]:
i = 1
while i < 5:
    print('i is : {}'.format(i))
    i = i + 1

i is : 1
i is : 2
i is : 3
i is : 4

Range()

In [67]:
range(5)

range(0, 5)

In [68]:
for i in range(5):
    print(i)

0
1
2
3
4

In [69]:
print(range(5))

range(0, 5)

In [70]:
list(range(5))

[0, 1, 2, 3, 4]

List Comparision

In [71]:
x = [1,2,3,4,5]

In [72]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16, 25]

In [73]:
[item**2 for item in x]

[1, 4, 9, 16, 25]

Functions

In [74]:
def my_fun(param1='Default'):
    print(param1)

In [75]:
my_fun

In [76]:
my_fun()

Default

In [77]:
my_fun('abc')

abc

In [78]:
def func_ret(x):
    return x**2,x**3

In [88]:
square, cube = func_ret(3)

In [89]:
print(square)
print(cube)

9
27

Lambda Expression

In [90]:
def times2(x):
    return x*2;

In [91]:
times2(5)

10

In [92]:
lambda var: var**2

Map and Filters

In [93]:
seq = [1,2,3,4,5,6]

In [94]:
map(times2,seq)

In [95]:
list(map(times2,seq))

[2, 4, 6, 8, 10, 12]

# Method

In [96]:
s = 'my name is sandeep'

In [97]:
s.upper()

'MY NAME IS SANDEEP'

In [98]:
s.lower()

'my name is sandeep'

In [99]:
s.split()

['my', 'name', 'is', 'sandeep']

In [100]:
s.split('e')

['my nam', ' is sand', '', 'p']

In [101]:
s.split('*')

['my name is sandeep']

In [102]:
'x' in [1,2,3]

False

In [103]:
'x' in ['p','q','r','s','x','y']

True